.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
}

.App-element {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-elementl {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-elementr {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
